@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: var(--white);
}

.container {
  width: 94%;
  margin: 0 auto;
}
.container_logo{
  margin-bottom: 10px;
  width: 20%;
}

.header {
  background-color: var(--white);
  padding: 10px 0;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.header ul{
  padding: 20px 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header li{
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 15px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.header li:hover{
color: var(--blueHover)
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header_nav {
  display: flex;
}


.header_nav button {
  margin-top: 15px;
  transition: 0.5s;
  font-size: 1.1rem;
  margin-left: 15px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}
.header_nav_button img {
  width: 85px;
}

.header_nav button:hover,
.section_mk_button img:hover,
.section_video_button img:hover,
.section_logos_button img:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.section_modal {
  background-color: var(--lighterGray);
  background-image: url(assets/shape1.svg);
  /* background-position: center top; */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 0;
  width: 100%;
  display: flex;
}

.section_modal_title{
  padding-top: 350px;
}

.section_modal_paragraph
 {
  /* width: 600px; */
  /* padding-right: 108px; */
  padding-top: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.section_modal .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form header{
  width: 90%;
  display: flex;
  margin-top: 40px;
  padding-bottom: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--lighterGray-60);
  margin-bottom: 32px;
}

form h4{
  width: 448px;
  height: 52px;
  left: 860px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;      
  text-align: center;
  color: var(--lighterGray-100);
}

form h5{
  width: 275px;
  height: 17px;
  margin-top: 16px;
  font-family: 'Nunito' Sans;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: var(--lighterGray-70);
}

form label{
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito' Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 24px;
}

form input, select{
  width: 90%;
  height: 40px;
  background: var(--white);
  padding: 10px;
  font-family: 'Nunito' Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0px;
  border: 2px solid var(--black);
  box-sizing: border-box;
  box-shadow: inset 6px 6px 0px #EEFBFB;
}

form input[type=radio]{
  width: 50%;
  height: 20px;
  display: flex;
  box-shadow: none;
}

form ul{
  display: flex;
  flex-direction: column;
  margin: 40px;
}

form button{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
  width: 448px;
  height: 40px;
  left: 0px;
  top: 0px;
  font-family: 'Nunito' Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--lighterGray-100);
  background: var(--highlight-60);
  flex: none;
  order: 0;
  flex-grow: 0;
}

form button:hover{
  background: var(--blueHover);
}
.section_modal_title,
.section_rd_title,
.section_img_about_title,
.section_img_about_title,
.section_video_about_title,
.section_mk_title,
.section_logos_title, .section_cards_title {
  font-weight: 900;
  width: 15em;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

.section_modal_title span {
  color: var(--blueAscent);
}

.section_rd_paragraph,
.section_mk_paragraph,
.section_logos_paragraph {
  width: 600px;
  padding-right: 108px;
  padding-top: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.section_rd {
  background-color: var(--darkBlue);
  padding: 25px 0;
}

.section_rd .container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.section_photo {
  /* background-color: var(--lighterGray); */
  padding: 25px 0;
}

.section_photo .container {
  display: flex;
  justify-content: space-between;
}

.section_img img {
  height: 500px;
  width: 465px;
  border-radius: 0px;
}
.section_img_about {
  width: 450px;
  text-align: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  display: flex;
  /* justify-content: space-between;  */
}


.section_img_about_subtitle {
  padding-top: 24px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

/* .section_list_ul{
  width: 450px;
} */
.section_list li {
  padding-top: 30px;
  font-weight: 400;
  /* width: 450px; */
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.section_list_li strong {
  font-weight: bolder;
}
.section_list_li img {
  height: 13px;
  width: 18px;
  margin-right: 19px;
  border-radius: 0px;
}
.section_cards{
  padding: 25px 0;
}

.card_row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_row_info {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}
.card_row_info:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 .card_row_info h2{
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  line-height: 110%;
  display: flex;
  align-items: center;
 }
.card_row_info p {
  padding-top: 16px;
  color: var(--black);
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
}
 
.image {
  float: right;
  max-width: 54px;
  max-height: 54px;
}
.color {
  border-left: 3px solid var(--blueAscent);
}
 

.section_mk {
  background-color: var(--darkBlue);
  /* padding: 25px 0; */
  /* position: absolute; */ 
  width: 1224px;
  height: 396px;
  left: 0px;
  top: 0px;
}

.section_mk .container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.section_mk_button img,
.section_video_button img,
.section_logos_button img {
  padding-top: 40px;
  width: 250px;
}

.section_video {
  background-color: var(--lighterGray);
  padding: 25px 0;
}
.section_video_about_title {
  padding-top: 66px;
}
.section_video .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.section_logos {
  padding: 25px 0;
}

.section_video .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.section_logos_img img {
  align-items: flex-end;
  width: 455px;
}

.footer {
  background-color: var(--blueAscent);
  padding-top: 20px;
}

.footer_section {
  padding-left: 108px;
  width: 840px;
  /* height: 81px; */
}
.footer_section_img img {
  width: 25%;
  height: 32px;
}

.footer_section_icons img {
  float: left;
  align-items: flex-end;
  margin-right: 20px;
  /* margin-top: 10px; */
}

.footer_section_icons ul,
li,
a {
  display: inline-block;
  list-style: none;
}

.footer_section_info_h3{
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}
.footer_section_info_h3 span{
  font-weight: bolder;
}

.footer_section_info_h3 a{
  color: var(--black);
  text-decoration: underline;
}

.footer_section_info_h3 a:hover{
  color: var(--blueHover);
}
.footer_section_row {
  margin-top: 24px;
  width: 1224px;
  height: 0px;
  left: 108px;
  top: 4618px;
  border: 1px solid var(--white);
}

/* @media (min-width: 768px) {
  
}

