@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 94%;
  margin: 0 auto;
}
.container img {
  margin-bottom: 10px;
  width: 20%;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--white);
  padding: 10px 0;
}

.header_nav {
  display: flex;
}

.header_nav_link {
  padding: 25px;
  margin-bottom: 10px;
  color: var(--black);
  text-decoration: none;
  transition: 0.5s;
  display: block;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.header_nav_link:hover {
  color: #fff;
  background-color: var(--blueHover);
}

.section_modal {
  background-color: var(--lighterGray);
  padding: 25px 0;
}

.section_modal .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

/* .section_modal_info {
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
} */

.section_modal_title {
  font-weight: 900;
  width: 15em;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

.section_modal_title span {
  color: var(--blueAscent);
}
.section_modal_paragra {
  width: 600px;
  padding-right: 108px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.section_rd {
  background-color: var(--darkBlue);
  padding: 25px 0;
}

.section_rd .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

/* .section_rd_info {
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
} */

.section_rd_title {
  font-weight: 900;
  width: 15em;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

.section_rd_paragra {
  width: 600px;
  padding-right: 108px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  background-color: var(--blueAscent);
  padding-top: 20px;
}

.footer .subtitulo {
  color: #fff;
}

.footer-navMap-link {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.footer-navMap-link {
  font-size: 0.9em;
}

.navmap-list-title {
  font-weight: 700;
  font-size: 1.3em;
  margin: 0.9em 0;
  padding-left: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.navmap-list-title + .footer-navMap-link {
  margin-top: 0;
}

.section_video {
  background-color: var(--lighterGray);
  padding: 25px 0;
}

.section_video .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

/* .section_video_about {
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
} */

.section_video_about_title {
  font-weight: 900;
  width: 15em;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

.section_video_button {
  border-radius: 8px var(--black);
  display: block;
  color: var(--black);
  height: 50px;
  /* width: 350px; */
  width: 28em;
  font-size: 1em;
  outline: none;
}
.section_video_button:hover {
  color: #fff;
  background-color: var(--blueHover);
}

/* .footer-contatoForm-legend {
  margin-bottom: 10px;
} */

/* @media (min-width: 769px) {
  .container {
    width: 85%;
  }

  .subtitulo {
    text-align: left;
  }

  .header_nav_link {
    border-radius: 5px;
  }

  .header_nav_link:hover {
    color: #fff;
    background-color: var(--bueHover);
  }

  .header-titulo {
    margin: 0;
  }

  .header_nav {
    width: auto;
  }

  .header_nav_link {
    width: auto;
    margin: 0 0 0 10px;
  }

  .footer-contatoForm {
    margin-top: 0;
    text-align: left;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n) {
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .conteudoPrincipal-cursos-link {
    margin: 1.333%;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n) {
    margin-right: 1.33%;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n + 1) {
    margin-left: 1.333%;
  }

  .conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
  }

  .section_video_about {
    margin-left: 1.5em;
  }
} */
