@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: var(--white);
}

.container {
  width: 94%;
  margin: 0 auto;
}
.container img {
  margin-bottom: 10px;
  width: 20%;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--white);
  padding: 10px 0;
}

.header_nav {
  display: flex;
}

.header_nav_link,
.header_nav_button {
  /* padding: 25px; */
  margin-right: 25px;
  margin-top: 15px;
  color: var(--black);
  text-decoration: none;
  transition: 0.5s;
  display: block;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.header_nav_button img {
  width: 85px;
}
.header_nav_link:hover {
  color: var(--white);
  background-color: var(--blueHover);
}

.section_modal {
  background-color: var(--lighterGray);
  padding: 25px 0;
}

.section_modal .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

/* .section_modal_info {
  line-height: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
} */

.section_modal_title,
.section_rd_title,
.section_img_about_title,
.section_img_about_title,
.section_video_about_title,
.section_mk_title {
  font-weight: 900;
  width: 15em;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
}

.section_modal_title span {
  color: var(--blueAscent);
}
.section_modal_paragraph,
.section_rd_paragraph,
.section_mk_paragraph {
  width: 600px;
  padding-right: 108px;
  padding-top: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.section_rd {
  background-color: var(--darkBlue);
  padding: 25px 0;
}

.section_rd .container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.section_photo {
  /* background-color: var(--lighterGray); */
  padding: 25px 0;
}

.section_photo .container {
  display: flex;
  justify-content: space-between;
}

.section_img img {
  height: 500px;
  width: 465px;
  border-radius: 0px;
}
/* .section_img_about {
  line-height: 2;
  text-align: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
} */

.section_img_about_subtitle {
  padding-top: 24px;
  font-weight: 400;
  width: 15em;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.section_list li {
  padding-top: 30px;
  font-weight: 400;
  width: 490px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.section_list_li strong {
  font-weight: bolder;
}
.section_list_li img {
  height: 13px;
  width: 18px;
  left: 3px;
  border-radius: 0px;
}
.section_video {
  background-color: var(--lighterGray);
  padding: 25px 0;
}
.section_video_about_title {
  padding-top: 66px;
}
.section_video .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.section_mk {
  background-color: var(--darkBlue);
  padding: 25px 0;
}

.section_mk .container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

.section_mk_button img,
.section_video_button img {
  padding-top: 40px;
  width: 250px;
}

.footer {
  background-color: var(--blueAscent);
  padding-top: 20px;
}

.footer_section {
  padding-left: 108px;
  width: 840px;
  height: 81px;
}
.footer_section_img img {
  width: 25%;
  height: 32px;
}

.footer_section_icons img {
  float: left;
  align-items: flex-end;
  margin-right: 20px;
  font-size: 20px;
  /* margin-top: 10px; */
}

.footer_section_icons ul,
li,
a {
  display: inline-block;
  list-style: none;
}
.footer_section_row {
  margin-top: 24px;
  width: 1224px;
  height: 0px;
  left: 108px;
  top: 4618px;
  border: 1px solid var(--white);
}

/* @media (min-width: 769px) {
  .container {
    width: 85%;
  }

  .subtitulo {
    text-align: left;
  }

  .header_nav_link {
    border-radius: 5px;
  }

  .header_nav_link:hover {
    color: #fff;
    background-color: var(--bueHover);
  }

  .header-titulo {
    margin: 0;
  }

  .header_nav {
    width: auto;
  }

  .header_nav_link {
    width: auto;
    margin: 0 0 0 10px;
  }

  .footer-contatoForm {
    margin-top: 0;
    text-align: left;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n) {
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n + 1) {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .conteudoPrincipal-cursos-link {
    margin: 1.333%;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n) {
    margin-right: 1.33%;
  }

  .conteudoPrincipal-cursos-link:nth-child(3n + 1) {
    margin-left: 1.333%;
  }

  .conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
  }

  .conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
  }

  .section_video_about {
    margin-left: 1.5em;
  }
} */
